# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Python bytecode directories
__pycache__/
# Python bytecode files
*.pyc
# 2 files with Python interpreter location
/misc.xml
/Structural_Solver.iml
