# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Python bytecode directories
__pycache__/
# Python bytecode files
*.pyc
# Python virtual environment
/.venv/
# 2 files with Python interpreter location
/.idea/misc.xml
/.idea/Structural_Solver.iml
